v\:* {
    behavior:url(#default#VML);
}
.spanstyle {
    COLOR: #ff0000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold; POSITION: absolute; TOP: -50px; VISIBILITY: visible
}

.gpslabel {
    width:330px
}
.gpsvalue {
    width:190px
}

.site-title {
	color: #000000;
	font-size: 24pt;
	font-weight: bold;
}
.title {
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}
.chapter-title {
	color: #003399;
	font-size: x-large;
	font-weight: bold;
}
.paragraph-title {
	color: #000000;
	font-size: medium;
	font-weight: bold;
}
.epigraph {
	color: #ff0000;
	font-size: medium;
	font-weight: bold;
}		