.page {
    margin: 0px 20px;
    font-family: Tahoma;
}

.chapter-title {
    color: #666;
    font-size: x-large;
    font-weight: bold;
}

.paragraph-title {
    color: #ee4400;
    font-size: large;
    font-weight: bold;
}

.paragraph {
    margin-bottom: 70px;
}

/* -- responsive 3-column layout -- */
.event-row {
    position: relative;
    background-color: #eee;
    margin: 10px 0px;
    padding: 10px 0px;
    height: 240px;
}
.event-row > div {
    position: absolute;
}
.event-image {
    left:10px;
    width: 320px;
}
.event-description {
    left: 340px;
    right: 265px;
}
.event-links {
    width: 250px;
    right: 10px;
}
/* ------------------------- */

/* column filling */
.event-description  > div,
.event-links  > div {
    margin: 0px 2px;
    background-color: #ddd; 
    padding: 10px;
}
.event-links  > div {
    height: 220px;
}
/* ------------------------- */


.event-image  img {
    height: 240px; 
    width: auto;
}

.event-links p{
    margin: 25px 0px;
}
.event-links a {
    color: #444;
    padding: 7px;
 }
 .event-links a:hover{
    background-color: #bbb;
}

.event-title {
    font-family: Comic Sans MS;
    font-style: italic;
    font-size: larger;
    margin-bottom: 10px;
}

.event-dates {
    font-style: italic;
    text-decoration: underline;
    text-indent: 30px;
}

.event-text1 ,
.event-text2  {
    color: #222;
    text-indent: 30px;
    font: 0.92em/1.4 Arial,sans-serif;
}

.event-text1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* image zoom on hover*/
img {
    -moz-transition: all 0.1s ease-in; 
    -webkit-transition: all 0.1s ease-in; 
    -o-transition: all 0.1s ease-in; 
    transition: all 0.1s ease-in;
    
}
img:hover {
    -moz-transform:scale(1.7) translateX(50px); 
    -webkit-transform:scale(1.7) translateX(50px);
    -o-transform:scale(1.7) translateX(50px);
    -ms-transform:scale(1.7) translateX(50px);
    transform:scale(1.7) translateX(50px);
}

.event-image {
    z-index: 998;
}

.event-image:hover {
    z-index: 999;
}